.logo img{
    width: 100%;
    max-width: 35px;
    margin: 15px auto 20px;
    display: block;
}

.username{
    color: #463838;
    font-weight: 600;
    margin: 10px auto;
    text-align: center;
}

.user_widget_actions{
    display: flex;
    margin: 15px 10px 10px;
    justify-content: end;
    gap: 10px;
}